@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Montserrat+Alternates:wght@300&family=Montserrat:ital,wght@0,300;0,700;1,300&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto+Condensed&display=swap');
body
{
    background-color: rgb(236, 235, 235);
    font-family: 'Montserrat', sans-serif !important;
}

a{
    color: white !important;
}